apiVersion: apps/v1
kind: Deployment
metadata:
  name: site
spec:
  replicas: 1
  selector:
    matchLabels:
      app: site
  template:
    metadata:
      labels:
        app: site
    spec:
      containers:
        - name: site
          image: gcr.io/PROJECT_ID/IMAGE:TAG

---
apiVersion: v1
kind: Service
metadata:
  name: site-srv
spec:
  selector:
    app: site
  ports:
  -   protocol: TCP
      port: 8080
      targetPort: 8080
  type: ClusterIP